// colors
$white: #fff;
$dark: #504f4f;
$accent: #00cc90;
// other values
$size-xsm: 1.2rem;
$size-sm: 1.6rem;
$size-md: 2.4rem;
$size-lg: 3.6rem;
$margin-sm: 1rem;
$margin-md: 2rem;
$margin-lg: 3rem;
$section-spacing: 8rem;
$gap-sm: 1.5rem;
$gap-md: 2rem;
$gap-lg: 4rem;
// main font
$fontFamily: 'Poppins', sans-serif;
// sizes
$width: 1160;
$padding: 15;
$minWidth: 320px;
$maxWidth: 1920;
$md1: $width + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;